@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --text-color: #777
}
*{
    scroll-behavior: smooth;
    transition: all ease 0.3s;
    line-height: 1.6;
    color: var(--text-color);
}

.tour-picture{
   clip-path:  polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
}

input:invalid[focused="true"] ~ span {
    display: block;
}

form:invalid div:has(button[type="submit"]){
    background-color: gray;
}